/* General Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background-color: #673ab7;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.content {
    margin: 20px;
}
.container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

/* Progress Bar Styling */
.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    height: 20px;
    background-color: #673ab7;
    width: 0%;
    transition: width 0.5s ease;
}

.progress-percentage {
    font-weight: bold;
}

/* Update Button Styling */
.modules-list button {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #673ab7, #512da8);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    outline: none;
}

.modules-list button:hover {
    background: linear-gradient(90deg, #512da8, #673ab7);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.modules-list button:active {
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.modules-list input[type="number"] {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}